<footer>
  <div class="footer-container">
    <div class="footer-left">
      <p>© <%= new Date().getFullYear() %>. Creative Solutions By Omar</p>
    </div>
    <div class="footer-right">
      <nav class="nav-icons">
        <!-- LinkedIn Icon -->
        <a
          class="nav-icon"
          href="https://www.linkedin.com/in/omaralzubi-007oa/"
          aria-label="LinkedIn"
          target="_blank"
        >
          <img
            src="/icons/linkedinIcon.svg"
            alt="LinkedIn icon"
            width="40"
            height="40"
          />
        </a>
        <!-- GitHub Icon -->
        <a
          class="nav-icon"
          href="https://github.com/Alzubi-Omar"
          aria-label="GitHub"
          target="_blank"
        >
          <img
            src="/icons/githubIcon.svg"
            alt="GitHub icon"
            width="30"
            height="30"
          />
        </a>
      </nav>
    </div>
  </div>
</footer>
