<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <footer>
      <div class="footer-container aboutPage">
        <div class="footerLeft">
          <p>© <%= new Date().getFullYear() %>. Creative Solutions By Omar</p>
        </div>
        <div class="footerRight">
          <nav class="navIcons">
            <a class="navIcon1" href="">
              <img
                src="/icons/facebookIcon.svg"
                alt="night Moon svg"
                width="30px"
            /></a>
            <a class="navIcon1" href="">
              <img src="/icons/instaIcon.svg" alt="night Moon svg" width="30px"
            /></a>
          </nav>
        </div>
      </div>
    </footer>
  </body>
</html>
