<%- include('partials/header.ejs') %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <p class="contentForOther">
      The Weather app includes a number of features that provide information
      about current and forecasted weather. Some features aren't currently
      available in every country or region.
    </p>
  </body>
</html>

<%- include('partials/footer.ejs') %>
