<%- include('partials/header.ejs') %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <p class="contentForOther">
      This project was built using a public API with express Node.js and EJS.
    </p>
    <p class="contentForOther">
      The current weather app using the API from open weather map:
      <a href="https://openweathermap.org/"> openweathermap.org</a>
    </p>
  </body>
</html>

<%- include('partials/footer.ejs') %>
