<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="/css/styles.css" />

<h2 class="newsHeaderContent">Welcome to the weather forecast.</h2>

<p class="contentForOther">
  Now, let’s see what the weather is like today. In the north of the country,
  it’s very windy and cold. There is a chance of some rain too, so don’t leave
  home without your umbrella! The temperature is around 50°F. In the east it’s
  rainy all day today, I’m afraid. There may be a thunderstorm in the afternoon.
  The temperature is a bit higher, at around 65.4°F. In the west and middle of
  the country, the weather is dry but cloudy. So no rain for you, but it is
  quite windy and the temperature is just 60°F. The south of the country has the
  best weather today. It’s cloudy most of the time but sunny this afternoon. The
  temperature is around 79°F.
</p>

<%- include('partials/footer.ejs') %>
